<!DOCTYPE html>
<html lang="" data-ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/vendor/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <title>Basic Angular 1.x</title>
</head>

<body>
  <div data-ng-controller="pageController">
    2 + 1 = {{ 2 + 1}}
    <p><input placeholder="Enter your name: " type="text" id="myName" data-ng-model="firstName" /></p>
    <p>{{ firstName }}</p>
    <p>Todays Date is {{ timeStamp  | date:'dd-MM-yyyy hh:mm:ss' }}</p>
    <ul>
      <li data-ng-repeat="greeting in greetings">{{ greeting }}</li>
    </ul>
    <p>{{ greet }} {{ firstName }}</p>
    <button id="sayHello" data-ng-click="greetUser()">Greet User</button>
  </div>
</body>
</html>
